# refer to 
# http://nginx.org/en/docs/http/ngx_http_ssl_module.html
# https://www.nginx.com/blog/nginx-poodle-ssl/
# https://en.wikipedia.org/wiki/Forward_secrecy
# https://community.qualys.com/blogs/securitylabs/2013/08/05/configuring-apache-nginx-and-openssl-for-forward-secrecy
# https://weakdh.org/imperfect-forward-secrecy-ccs15.pdf
# **************************************************************************
# set the Perfect Forward Secrecy by "openssl dhparam -out dhparam.pem 4096",it will spend a long time,
# final you can check your site by https://www.ssllabs.com/ssltest/index.html

server
{
    listen       80;
    server_name  domain.com;
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";  # unit second
    return 301 https://domain.com$request_uri;
}
server 
{  
    listen 443 ssl;
    server_name  domain.com
    keepalive_timeout 70;
    ssl_certificate ssl.crt;
    ssl_certificate_key ssl.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;# omit SSLv3 because of POODLE (CVE-2014-3566)
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout  10m;
    ssl_dhparam dhparam.pem;
}
